{
  "env": {
    "test": {
      "presets": [
        "es2015",
        "react"
      ]
    },
    "develop": {
      "presets": [
        [
          "es2015-rollup"
        ],
        "react"
      ],
      "plugins": [
        "external-helpers",
        "transform-class-properties"
      ]
    }
  }
}